*{
    margin: 0px;
    padding: 0px;

}
.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5852FE;
}
.aboutText{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}
.aboutText h1{
    font-size: 25px;
    color: white;
}
.aboutText p{
    font-size: 15px;
    width: 60%;
    color: #FFFFFFB5;
}
.aboutImg img{
    display: flex;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 950px) {
    .about{
        flex-direction: column;
    }
    .aboutText{
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .aboutText p{
        width: 90%;
    }
    
}