
.coursePage{
    display: flex;
}
.courseRight{
    width: 100%;
    height: 100vh;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
}

.courseTopbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}
.explore{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.explore h1{
    font-size: 15px;
    text-align: left;
}
.explore p{
    width: 79%;
    font-size: 10px;
    text-align: left;
    color: #0000007D;
    font-weight: bolder;
}
.category{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category h1{
    font-size: 16px
}
.category{
    cursor: pointer;
}
.categoryList{
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hotpink;
}
.categoryShow1{
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    background-color: #5852FE;
    overflow: hidden;
    transition: 1.5s ease-in;
    margin-left: 800px;
    border-radius: 10px;
    position: absolute;

    
}
.categoryShow2{
    width: 20%;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    background-color: #5852FE;
    overflow: hidden;
    transition: 1.5s ease-in;
    margin-left: 800px;
    border-radius: 10px;
    position: absolute;
}
.categoryShow1 p, .categoryShow2 p{
    font-size: 12px;
    cursor: pointer;
    color: white;
}
.line{
    width: 100%;
    height: 0.5px;
    background-color: #0000007D;

}
.listofcourse{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tech, .history{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.techMechanics{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.techMechanics h1{
    font-size: 17px;
}
.coursesBody{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.courseBorder{
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    gap: 5px;
}
.courseImage img{
    display: flex;
    width: 150px;
}
.courseBorder h1{
    width: 60%;
    height: 30px;
    font-size: 13px;
    font-weight: bolder;
}
.coursebutton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.sqpBtn{
    padding: 7px 15px ;
    background-color: whitesmoke;
    border-radius: 10px;
    border:2px solid #5852FE;
    font-weight: bold;
    cursor: pointer;
}
.sqpBtn:hover{
    background-color: black;
    color: white;
}
.enrollBtn{
    padding: 7px 10px ;
    background-color: #5852FE;
    border-radius: 10px;
    border:2px solid #5852FE;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.enrollBtn:hover{
    background-color: black;
    color: white;
}
.courseTopbar button{
    display: none;
}


@media screen and (max-width:950px) {
    .courseTopbar{
        height: 100px;
    }
    .courseTopbar button{
        display: flex;
        border: none;
        background-color: whitesmoke;
        font-size: 24px;
        cursor: pointer;

    }
    .explore{
        width: 30%;
    }
    .explore h1{
        font-size: 12px;
    }
    .explore p{
        width: 100%;
        font-size: 8px;
    }
    .categoryShow1, .categoryShow2{
        margin-left: 290px;
        width: 35%;
    }
    .techMechanics h1{
        font-size: 11px;
    }
    .coursesBody{
        gap: 12px;
    }
    .courseBorder{
        width: 20%;
        gap: 0px;
    }
    .courseImage img{
        width: 100px;
    }
    .courseBorder h1{
        font-size: 8px;
    }
    .courseBorder p{
        font-size: 10px;
    }
    .coursebutton{
        flex-direction: column;
    }
    .sqpBtn{
        font-size: 8px;
        padding: 5px 8px ;
    }
    .enrollBtn{
        font-size: 8px;
    padding: 7px 5px ;

    }
}

