.dashboard{
    /* width: 100%;
    height: 100vh; */
    display: flex;
}
.leftSide{
    width: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    transition: 1.5s;
    position:fixed;
}
.leftSide:hover{
    width: 20%;
    transition: 1.5s;
}
.first-line{
    width: 100%;  
    height: 50px;  
    background-color:white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 170px;
    overflow: hidden;
}
.first-line a{
    text-decoration: none;
}
.dashboard-logo img{
    display: flex;
    height: 50px;
}
.second-line{
    width: 100%;  
    height: 50px;  
    background-color:#5852FE;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    gap: 60px;
    cursor: pointer;
    margin-bottom: 20px;
}
.second-line:hover{
    background-color: #433f9b;
    transition: 0.3s ease-in;

}

.leftSide a {
    text-decoration: none;
}
/* .leftSide p{
    color: black;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} */
.second-line p{
    font-size: 12px;
    color: white;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.dashboard-logo2 img{
    display: flex;
    height: 25px;
    margin-left: 5px;
}

.third-line{
    width: 100%;  
    height: 50px;  
    background-color:white;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    gap: 67px;
    cursor: pointer;
}
.third-line:hover{
    background-color: rgb(217, 211, 211);
    transition: 0.3s ease-in;
    
}
.third-line p:hover{
color: #5852FE;
}

.third-line a{
    text-decoration: none;
}
.third-line p{
    font-size: 12px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}


.dashboard-logo3 img{
    display: flex;
    height:20px;
    margin-left: 10px;
    font-weight: bold;
}


.fourth-line{
    width: 100%;  
    height: 50px;  
    background-color:#5852FE;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    gap: 65px;
    cursor: pointer;
}
.fourth-line:hover{
    background-color: #433f9b;
    transition: 0.3s ease-in;
}
.fourth-line p{
    font-size: 12px;
    font-weight: bold;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.fourth-line a{
    text-decoration: none;
}
.dashboard-logo4 img{
    display: flex;
    height: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.right-side{
    width: 100%;
    height: 100vh;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.top-bar{
    width: 100%;
    height: 50px;
    display: flex;  
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 75px;
}
.top-bar input{
    width: 32%;
    height: 25px;
    border-radius: 20px;
    border: solid #0000004A;
    text-align: center;
    font-size: 15px;
}
.top-bar h1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}
.bellimg img{
    display: flex;
    height: 20px;
}
.manimg img{
    display: flex;
    height: 40px;
}
.welcome{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.welcometext{
    text-align: center;
}
.earning{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.box1{
    width: 20%;
    height: 120px;
    background-color:#5852FE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}
.box2{
    width: 20%;
    height: 120px;
    background-color:#34A853;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}.box3{
    width: 20%;
    height: 120px;
    background-color:#F5761A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}
.box1 h1,.box2 h1, .box3 h1{
    font-size: 17px;
    color: #FFFFFFB5;
}
.box1 p, .box2 p, .box3 p{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
table{
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
 
    /* align-items: center; */
}
table h1{
    text-align: left;
    font-size: 24px;
}
td{
    /* border: 2px solid black; */
    border-bottom: solid #0000009E;
    height:35px;
    border-bottom:dotted;
    text-align: left;

}
.mobile{
    display: none;
}
.mobile2{
    display: none;
}
.mobiledash{
    display: none;
}
.top-bar button{
    display: none;
}
.openMenu{
    display: none;
}
@media screen and (max-width:950px) {
  
    .leftSide{
        display: none;
    }
    
    .mobile{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        overflow: hidden;
        /* background-color:#5852FE; */
        transition: 1.5s ease-in;
        position: absolute;
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;

    }
    .mobile a, .mobile2 a{
        text-decoration: none;
    }
    .mobile2{
        width: 0%;
        display: flex;
        flex-direction: column;
        transition: 2s ease-out;
        overflow: hidden;
        position: absolute;
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        
    }
    .mobiledash{
        display: flex;
    }
    .manimg img{
        height: 20px;
    }
    .bellimg img{
        height: 10px;
    }
  
    .first-mobile{
        width: 100%;
        height: 50px;
        background-color: white;
        display: flex;
        gap: 100px;
    }
    .first-mobile button{
        width: 20%;
        font-size: 23px;
        border: none;
        background-color: white;
        cursor: pointer;
    }
    .second-mobile{
        width: 100%;
        height: 50px;
        background-color: #5852FE;
        display: flex;
        gap: 30px;
        align-items: center;
       
    }
    .second-mobile a{
        text-decoration: none;
    }
    .second-mobile p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        
    }
    .second-mobile:hover{
        background-color: #433f9b;
        transition: 0.3s ease-in;
    
    }
    .third-mobile {
        width: 100%;
        height: 50px;
        background-color: white;
        display: flex;
        gap: 30px;
        
    }
    .third-mobile a{
        text-decoration: none;
    }
    .third-mobile a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12 px;
    }
    .third-mobile:hover{
        background-color: rgb(217, 211, 211);
        transition: 0.3s ease-in;
        
    }.third-mobile p:hover{
    color: #5852FE;
    }

    .fourth-mobile {
        width: 100%;
        height: 50px;
        background-color: #5852FE;
        display: flex;
        gap: 30px;
    }
    .fourth-mobile a{
        text-decoration: none;
    }
    .fourth-mobile a p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
    .fourth-mobile:hover{
        background-color: #433f9b;
        transition: 0.3s ease-in;
    }
    .dashboard-logo2, .dashboard-logo3, .dashboard-logo4, .dashboard-logo{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .second-mobile p, .fourth-mobile p{
        height: 100%;
        display: flex;
        align-items: center;
        color: white;
        font-weight: bolder;
        font-size: 13px;
    }
    .third-mobile p{
        color: black;
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: bolder;
        font-size: 13px;

    }
    
    .top-bar{
        /* background-color: #F5761A; */
        gap: 15px;
        height: 100px;

    }
    .mobiledash button{
        border: none;
        font-size: 20px;
    }
    .top-bar input{
        width: 32%;
        height: 20px;
        border-radius: 15px;
    }
    .top-bar h1{
        font-size: 18px;
    }
    .top-bar button{
        display: flex;
        font-size: 25px;
        border:none;
        background-color: none;
        margin-right: 40px;
        cursor: pointer;
    }
    .welcometext{
        font-size: 23px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .earning{
        gap: 10px;
    }

    .box1 h1, .box2 h1, .box3 h1{
        font-size: 10px;
    }
    .box1 p,.box2 p, .box3 p{
        font-size: 20px;
    }
    .box1, .box2, .box3{
        height: 100px;
        width: 27%;
        overflow: hidden;
    }
    .welcome{
        margin-top: 0px;
        height: 150px;
    }
    table{
        width: 85%;
    }
    table h1{
        font-size: 16px;
    }
    td{
        font-size: 12px;
    }
   
}