.ReferralPage{
    width: 100%;
    height:100vh;
    display: flex;
}
.ReferalRight{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
