.work{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.map{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.workSteps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.heading h1{
    font-size: 18px;
    padding: 13px 25px;
    border: solid black;
    margin-top: 20px;
}
.workSteps p{
    width: 45%;
    font-size: 16px;
    color: #00000085;
}
.workImg img {
    display: flex;
    height: 250px;
}


@media screen and (max-width: 950px) {
    .map{
        display: flex;
        flex-direction: column;
        grid-template-columns:none;
        gap: 20px;
    }
    .workSteps p{
        text-align: center;
        width: 80%;
    }
}